{% extends 'list.html' %}
{% load static %}

{% block js %}
<script src="{% static 'producto/listar_productos.js' %}"></script>
{% endblock js %}

{% block boton_agregar %}
<div class="section-header-breadcrumb">
  <div class="breadcrumb-item">
    <a href="{% url 'registrar_producto' %}" class="btn btn-success" title="Registrar nueva Especie">
      <i class="fas fa-plus"></i> Nuevo Producto
    </a>
    <a href="{% url 'index' %}" class="btn btn-info" title="Registrar nueva Especie">
      <i class="fas fa-home"></i> Ir a inicio
    </a>
  </div>
</div>
{% endblock boton_agregar %}

{% block thead %}
<tr>
  <th>Proveedor</th>
  <th>Cod. Producto</th>
  <th>Nombre</th>
  <th>Precio Unitario</th>
  <th>Fecha Creacion</th>
  <th>Stock</th>
  <th>Opcciones</th>
</tr>
{% endblock thead %}

{% block tbody %}

{% endblock tbody %}
