{% extends 'layout.html' %}
{% load static %}

{% block scripts %}
<link href="{% static 'plugins/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet" />

<script src="{% static 'plugins/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'plugins/select2-4.0.13/js/i18n/es.js' %}"></script>

{% endblock %}


{% block javascript %}
    <script src="{% static 'form_user.js' %}"></script>
{% endblock %}

{% block contenido %}
<section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-9">
          <div class="card">
            <div class="card-body">
              <form method="POST" id="form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                {% for field in form.visible_fields %}
                  <div class="form-group">
                    <label for='name'>{{ field.label }}</label>
                    {{ field }}
                  </div>
                {% endfor %}

                <div>
                  <button type="submit" class="btn btn-success">
                    <i class="fas fa-edit"></i> Editar
                  </button>
                  <a href="{{ cancel_url }}" class="btn btn-danger">
                    <i class="fas fa-window-close"></i> Cancelar
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock contenido %}
