<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Credupy › Sistema de Créditos</title>

    <!-- General CSS Files -->
    {% load static %}
    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fonts/font-awesome/css/all.css' %}" rel="stylesheet" type="text/css" />
    <!-- Plugins -->

    <!-- Template CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css" />

    <script src="{% static 'plugins/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
    {% block estilos %}
    {% endblock %}
</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
        {% include 'navbar.html' %}

        {% include 'sidebar.html' %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>{{ titulo }}</h1>
            {% block boton_agregar %}

            {% endblock boton_agregar %}
          </div>
          <div id='contenido'></div>
            {% block contenido %}

            {% endblock %}
        </section>
        {% block navStock %}

        {% endblock navStock %}
      </div>
        {% include 'footer.html' %}
    </div>
  </div>

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/popper/popper.min.js' %}"></script>
    <script src="{% static 'plugins/tooltip.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/nicescroll/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'plugins/moment.min.js' %}"></script>
    <script src="{% static 'js/stisla.js' %}"></script>


    <!-- Plugins -->

    {% block scripts %}

    {% endblock %}

    {% block plugins_js %}
    {% endblock %}

    <!-- Page Specific JS File -->

    <!-- Template JS File -->
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/function.js' %}"></script>
    {% block javascript %}

    {% endblock %}


    <!-- General JS Scripts -->
    <script>
      "{% if messages %}"
          var html = '<p>';
          "{% for message in messages %}"
              html += '{{ message }}<br>';
          "{% endfor %}"
          html += '</p>';
          Swal.fire({
              title: 'Accion Exitosa',
              html: html,
              icon: 'success'
          });
      "{% endif %}"
    </script>

    <script>
      "{% if form.errors %}"
        var errors = '';
        "{% for field in form %}"
          "{% for error in field.errors %}"
            errors += '{{ error }}\n';
          "{% endfor %}"
        "{% endfor %}"
        Swal.fire({
          title: 'Error!',
          text: errors,
          icon: 'error'
        });
      "{% endif %}"
    </script>

</body>
</html>